*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #52a6ff;
  min-height: 100vh;
  width: 100%;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App__title{
  text-transform: uppercase;
  color: #31527c;
  font-size: 4rem;
  margin-top: -50px;
}
.App__counter{
  border: 3px solid #d6ffff;
  width: 220px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.counter__display{
  width: 100%;
  height: 70%;
  text-align: center;
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display__value{
  color: #d6ffff;
  font-size: 7rem;
  font-weight: bold;
}
.counter__buttons{
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.counter__buttons>*{
  border: 3px solid #d6ffff;
  border-radius: 50%;
  background: none;
  width: 40px;
  height: 40px;
  color: #d6ffff;
  font-size: 2rem;
  line-height: 10px;
  cursor: pointer;
}